<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h2>Welcome to Donut Tycoon!</h2>
    <h4><a href="/shops">All Shops</a></h4>
    <h4><a href="/donuts">All Donuts</a></h4>
  </body>
</html>
